<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380951672937-jqbiqru6idl0rktd2jkrad9g9t0jspdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380951672937-jqbiqru6idl0rktd2jkrad9g9t0jspdb</string>
	<key>API_KEY</key>
	<string>AIzaSyC0E8NESPMsASxgnk11zONk3yqF4VJfCl4</string>
	<key>GCM_SENDER_ID</key>
	<string>380951672937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkt1997.SampleVideo</string>
	<key>PROJECT_ID</key>
	<string>samplevideo-132e5</string>
	<key>STORAGE_BUCKET</key>
	<string>samplevideo-132e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380951672937:ios:e63fb79049f805e360caf8</string>
</dict>
</plist>